extends layout
block content
	.row
		.col-xs-12
			h2 Call Tracking Concierge
		.col-xs-12
			.form-group
				input.form-control#number(type='text', name='number', placeholder='Enter a phone number to call')
				button#callbutton Call
				button#disconnectbutton Disconnect Call

block scripts
	script(type='text/javascript', src='//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js')
	script(src='js/tclient.js')
