extends layout

block content
  .row
    .col-lg-4
      h3 Calls by call source
      p The number of incoming calls each call source has received
      canvas#pie-by-call-source
    .col-lg-4
      h3 Calls by city
      p.
        The number of incoming calls from different cities, based on Twilio call
        data
      canvas#pie-by-city
    .col-lg-4
      h3 Calls by state
      p.
        The number of incoming calls from different states, based on Twilio call
        data
      canvas#pie-by-state
    .col-lg-4
      h3 Leads by state
      p.
        The number of leads from different states
        data
      canvas#pie-by-leads-state
    .col-lg-4
      h3 Leads by gender
      p.
        The number of leads based on gender
        data
      canvas#pie-by-leads-gender
    .col-lg-4
      h3 Leads by age
      p.
        The number of leads based on age
        data
      canvas#bar-by-leads-age
  .row
    .col-lg-12



block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js')
  script(src='//media.twiliocdn.com/sdk/js/sync/v0.3/twilio-sync.js')
  script(src='js/pieCharts.js')
