extends layout

block content
  .row
    .col-md-4
      h4 Leads by state
      p.chart-text The number of leads from different states data
      canvas#pie-by-leads-state
    .col-md-4
      h4 Leads by gender
      p.chart-text The number of leads based on gender data
      canvas#pie-by-leads-gender
    .col-md-4
      h4 Leads by age
      p.chart-text The number of leads based on age data
      canvas#bar-by-leads-age
  .row
    .col-md-4
      h4 Leads by Adgroup
      p.chart-text The number of incoming calls each call source has received
      canvas#pie-by-call-source
    .col-md-4
      h4 Calls by city
      p.chart-text The number of incoming calls from different cities
      canvas#pie-by-city
    .col-md-4
      h4 Calls by state
      p.chart-text The number of incoming calls from different states
      canvas#pie-by-state
  .row
    .col-lg-12


block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js')
  script(src='//media.twiliocdn.com/sdk/js/sync/v0.3/twilio-sync.js')
  script(src='js/pieCharts.js')
