#main {
    padding-top:70px;
}

footer {
    border-top:1px solid #eee;
    padding:20px;
    margin:20px;
    text-align:center;
}

footer i {
    color:red;
}

#active-call {
  margin-top: 50px;
}

.chart-text {
  font-size: x-small;
}

#theAd {
    width: 900px;
}

#phonenumber {
    position: absolute;
    top: 90px;
    left: 463px;
}